params {
    // Test configuration for compost pipeline
    chr = "chr_7"
    // Input BAM file (pointing to test data)
    bam = "$projectDir/test/data/demo_masked.bam"
    strandedness = "reverse"
    // GTF annotation file
    gtf = "$projectDir/test/data/mlei_chr_8.gtf"

    // homopolymers bed
    homopol = "$projectDir/test/data/mlei_a7_chr_8.bed"

    // Peak depth parameter
    peak_depth = 50

    // Output directory
    outdir = "$projectDir/test/results21AprAllChr"

    // activate trans spliced mode
    trans_spliced = "true"
}
env {
    PYTHONPATH = "${projectDir}/packages"
}

process {
    beforeScript = 'source /etc/profile.d/modules.sh && module load R HTSlib SAMtools'
}
