# Nextflow
work/
.nextflow*
.nextflow.log*

# Execution outputs
results/
out/
test/results*

# Environment
.env
.conda/
.mamba/

# System
.DS_Store

# Misc
*.ipynb
.ipynb_checkpoints*
*draft*
packages/cadena/__pycache__/
