env {
    PYTHONPATH = "${projectDir}/packages"
}

process {
    module = 'HTSlib:SAMtools'
}


executor {
    submitRateLimit = '20/1min'
    queueSize = 200
}

profiles {
    slurm {
        process {
            cache    = 'lenient'
            queue    = 'genoa64'
            cpus     = 1
            memory   = '6G'
            time     = '2h'
            executor = 'slurm'

            pollInterval = '60 sec'

            withName: 'peak_connections' {
                memory = '8G'
                time = '2h'
            }

            withName: 'cadena' {
                memory = { 16.GB * task.attempt }
                time   = { 30.m  * task.attempt }
                maxRetries = 2
                errorStrategy = 'retry'
            }

            withName: 'merge_cadena' {
                memory = { 16.GB * task.attempt }
                time   = { 1.h  * task.attempt }
                maxRetries = 1
                errorStrategy = 'retry'
            }
        }
    }
}


env {
    PYTHONPATH = "${projectDir}/packages"
}

process {
    beforeScript = 'source /etc/profile.d/modules.sh && module load R HTSlib SAMtools'
}